In [4]:
import pandas as pd

df1 = pd.read_csv('dataset.csv')
print(df1.head())

data = {
    'Nome': ['Alice','Bob','Chalie'],
    'Idade': [25,30,35],
    'Cidade' : ['Niteroi','Montana','São Tomé das Letras']
}

df2 = pd.DataFrame(data)

     Nome  Idade          Cidade  Peso Estado Civil
0    João     22      Nova Prata    70       Casado
1   Pedro     15       São Paulo    45     Solteiro
2  Marcos     33  Rio de Janeiro    80        Viúvo
3   Breno     55   Florianopolis    74     Solteiro
4    Hugo     29    Porto Alegre    88     Solteiro

#### Concatenando DataFrames

In [9]:
#print(df1)
print("Concatenando DF - VERTICAL")
df_concat_vertical = pd.concat([df1,df2],axis = 0)
print(df_concat_vertical)

print("Concatenando DF - HORIZONTAL")
df_concat_hotizontal = pd.concat([df1,df2],axis = 1)
print(df_concat_hotizontal)

df1 = df_concat_vertical #por fim vertical fica como padrao

Concatenando DF - VERTICAL
           Nome  Idade               Cidade   Peso Estado Civil
0          João     22           Nova Prata   70.0       Casado
1         Pedro     15            São Paulo   45.0     Solteiro
2        Marcos     33       Rio de Janeiro   80.0        Viúvo
3         Breno     55        Florianopolis   74.0     Solteiro
4          Hugo     29         Porto Alegre   88.0     Solteiro
5           Bob     36            Saint Ann   37.0       Casado
6         Bruno     36              Goiania   72.0       Casado
7         Bruno     36              Goiania   72.0       Casado
8       Ronaldo     24       Rio de Janeiro   85.0       Casado
9         André     10          Passo Fundo   30.0     Solteiro
10        Josué     25        Novo Hamburgo   68.0     Solteiro
11         Enzo      3          Nova Iorque   15.0     Solteiro
12        Tiago     22         Porto Alegre   60.0     Solteiro
13         José     40             Camboriú   70.0       Casado
14        Pedro     20             Campinas   68.0     Solteiro
15         João     50              Jaraguá  105.0   Divorciado
16     Jerônimo     35               Maceió   72.0   Divorciado
17     Jerônimo     35               Maceió   72.0   Divorciado
18       Chaves      9     Cidade do México   22.0     Solteiro
19    Chiquinha     10     Cidade do México   30.0     Solteiro
20         Kiko      9     Cidade do México   35.0     Solteiro
21      Madruga     45     Cidade do México   65.0        Viúvo
22       Helena     25            São Paulo   60.0     Solteira
23        Laura     30       Rio de Janeiro   65.0       Casada
24       Sophia     22       Belo Horizonte   55.0     Solteira
25  Maria Alice     28             Brasília   62.0   Divorciada
26      Manuela     27             Curitiba   61.0     Solteira
27      Cecília     32             Salvador   68.0       Casada
28      Cecília     45              Aracaju   55.0       Casada
29     Isabella     26               Recife   63.0     Solteira
30        Luísa     29            Fortaleza   64.0       Casada
31        Júlia     24        Florianópolis   58.0     Solteira
32        Júlia     24        Florianópolis   58.0     Solteira
33         Ayla     31         Porto Alegre   67.0        Viúva
0         Alice     25              Niteroi    NaN          NaN
1           Bob     30              Montana    NaN          NaN
2        Chalie     35  São Tomé das Letras    NaN          NaN
Concatenando DF - HORIZONTAL
           Nome  Idade            Cidade  Peso Estado Civil    Nome  Idade  \
0          João     22        Nova Prata    70       Casado   Alice   25.0
1         Pedro     15         São Paulo    45     Solteiro     Bob   30.0
2        Marcos     33    Rio de Janeiro    80        Viúvo  Chalie   35.0
3         Breno     55     Florianopolis    74     Solteiro     NaN    NaN
4          Hugo     29      Porto Alegre    88     Solteiro     NaN    NaN
5           Bob     36         Saint Ann    37       Casado     NaN    NaN
6         Bruno     36           Goiania    72       Casado     NaN    NaN
7         Bruno     36           Goiania    72       Casado     NaN    NaN
8       Ronaldo     24    Rio de Janeiro    85       Casado     NaN    NaN
9         André     10       Passo Fundo    30     Solteiro     NaN    NaN
10        Josué     25     Novo Hamburgo    68     Solteiro     NaN    NaN
11         Enzo      3       Nova Iorque    15     Solteiro     NaN    NaN
12        Tiago     22      Porto Alegre    60     Solteiro     NaN    NaN
13         José     40          Camboriú    70       Casado     NaN    NaN
14        Pedro     20          Campinas    68     Solteiro     NaN    NaN
15         João     50           Jaraguá   105   Divorciado     NaN    NaN
16     Jerônimo     35            Maceió    72   Divorciado     NaN    NaN
17     Jerônimo     35            Maceió    72   Divorciado     NaN    NaN
18       Chaves      9  Cidade do México    22     Solteiro     NaN    NaN
19    Chiquinha     10  Cidade do México    30     Solteiro     NaN    NaN
20         Kiko      9  Cidade do México    35     Solteiro     NaN    NaN
21      Madruga     45  Cidade do México    65        Viúvo     NaN    NaN
22       Helena     25         São Paulo    60     Solteira     NaN    NaN
23        Laura     30    Rio de Janeiro    65       Casada     NaN    NaN
24       Sophia     22    Belo Horizonte    55     Solteira     NaN    NaN
25  Maria Alice     28          Brasília    62   Divorciada     NaN    NaN
26      Manuela     27          Curitiba    61     Solteira     NaN    NaN
27      Cecília     32          Salvador    68       Casada     NaN    NaN
28      Cecília     45           Aracaju    55       Casada     NaN    NaN
29     Isabella     26            Recife    63     Solteira     NaN    NaN
30        Luísa     29         Fortaleza    64       Casada     NaN    NaN
31        Júlia     24     Florianópolis    58     Solteira     NaN    NaN
32        Júlia     24     Florianópolis    58     Solteira     NaN    NaN
33         Ayla     31      Porto Alegre    67        Viúva     NaN    NaN

                 Cidade
0               Niteroi
1               Montana
2   São Tomé das Letras
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN

#### Substituindo pesos NaN por média

In [ ]:
print("substituindo pesos NaN por média")
df1.fillna({'Peso': df1['Peso'].mean()}, inplace=True)
print(df1)

print("substituindo Estado Civil NaN por NDA")
df1.fillna({'Estado Civil': 'NDA'}, inplace=True)
print(df1)

#### Verificando valores Null

In [13]:
print("Verificando valores Null")
nao_existe_nulos = not df1.isnull().values.any().any()
if nao_existe_nulos:
    print("Não existem valores nulos")
else:
    print("Existem valores nulos")

Verificando valores Null
Não existem valores nulos

#### Criando relatorio

In [14]:
print("Gerando relatório")
print(df1.nunique())

Gerando relatório
Nome            30
Idade           22
Cidade          29
Peso            24
Estado Civil     9
dtype: int64